header {
  padding: 3rem; }

main {
  background-color: #1A374D;
  color: white; }

h1 {
  color: white;
  text-align: center; }

h2 {
  color: #D8E9F0;
  text-align: center; }

h3 {
  color: #D8E9F0;
  text-align: center; }

ul {
  color: white; }
  ul li {
    font-size: 25px;
    text-align: center; }

a {
  color: white;
  margin-right: 25px; }
  a :hover {
    transform: scale(1.05); }

p {
  color: white; }

form {
  background-color: #33425B;
  color: white;
  padding: 20px;
  border-radius: 10px; }

label {
  font-size: 20px; }

.linksHeader {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .linksHeader :hover {
    transform: scale(1.05); }

.linkInstagram > img {
  width: 60px;
  margin-right: 1rem; }

.linkUsuario > img {
  width: 60px;
  margin-right: 1rem; }

#piePagina {
  text-align: left; }

#darkMode {
  display: none;
  margin-top: 15px; }

#ligthMode {
  margin-top: 15px; }

#turnos {
  margin-top: 20px; }

#fondoNosotros {
  background-image: url(../multimedia/proximamente.jpg); }

#Fixed {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 250px; }

#usuario {
  margin: 10px; }

#h2Contacto {
  color: #2c2b2b; }

.fondoContacto {
  background-image: url(../multimedia/img1.jpg); }

#fondoContacto {
  background-image: url(../multimedia/proximamente.jpg); }
