body {
  background-color: black; }

nav {
  background-color: #1A374D;
  padding-top: 20px;
  padding-bottom: 20px; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav ul li {
      list-style-type: none; }

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1A374D;
  padding-top: 15px;
  padding-bottom: 15px; }
  form label {
    color: white;
    margin-right: 25px;
    margin-left: 25px; }

h1 {
  color: white;
  font-size: 50px;
  text-align: center; }

h2 {
  color: #2185D5;
  font-size: 40px; }

h3 {
  color: #2185D5;
  background-color: #9B0000;
  text-align: center;
  font-size: 30px; }

ul {
  list-style-type: circle; }
  ul li {
    color: white;
    font-size: 20px; }

a {
  color: white;
  text-decoration: none;
  margin-right: 25px; }
  a :hover {
    transform: scale(1.05); }

button {
  margin-left: 10px; }
