$logo-size: 60px;
$textos-size: 20px;

header{
  padding: 3rem;
}

main{
    
    background-image: linear-gradient(90deg,#1A374D 70%, #1a374d41);
    color: white;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: #D8E9F0;
  text-align: center;
}
h3 {
  color: #D8E9F0;
  text-align: center;
}
ul {
  
  color:  white;
  li {
    
    font-size: 25px;
    text-align: center;
    
  }
}
a {
  color: white;
  
  margin-right: 25px;
  :hover {
    transform: scale(1.05);
  }
}
p{
  color: white;
}
form{
    background-color: #33425B;
    color: white;
    padding: 20px;
    border-radius: 10px;
    
}
label{
  font-size: 20px;
}
.linksHeader {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  :hover {
    transform: scale(1.05);
  }
}
.linkInstagram > img {
  width: $logo-size;
  margin-right: 1rem;
}
.linkUsuario > img {
  width: $logo-size;
  margin-right: 1rem;
}
#piePagina{
  text-align: left;
}
#darkMode{
  display: none;
  margin-top: 15px;
}
#ligthMode{
  margin-top: 15px;
}
